[Desktop Entry]
Version=1.0
Type=Application
Name=ScanWords
Comment=Help to solve wordle
Icon=/opt/scanwords/image.svg
Exec=python3 /opt/scanwords/scanwords.py
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
